<p id="notice"><%= notice %></p>

<head>
<h1>Measuring Values Test</h1><br></br>
<h3>これからの婚活を進めていく中で重要なデータとなります。</h3>
<h3>直感的に回答を選択してください。</h3>
</head>

<body><br>
  <p>Q.1 恋愛において相手方に好意を抱いた場合、積極的にアプローチしますか？<br><br>
  <input type="radio" name="q1" value="yes"> はい<br>
  <input type="radio" name="q1" value="no"> いいえ
  </p>
  



</body>


